@import 'home';
@import 'project';

.body {
  width: 1360px;
  height: 1375px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container_footer {
  justify-content: center;
}

.genesis_logo {
  width: 90.132px;
  height: 19.344px;
  flex-shrink: 0;
  margin-top: 60px;
}

.navbar_project {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;
  margin-top: 60px;
  margin-left: 927px;
}

.navbar_contact {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;
  margin-top: 60px;
  margin-left: 1169px;
}

.container_section_1_left {
  width: 475px;
  height: 174px;
  flex-shrink: 0;
  padding-left: 125px;
  padding-top: 110px;
}

.topic_section_1_left {
  color: #111;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;

}

.container_text_section_1_left {
  width: 445px;
  height: 56px;
  flex-shrink: 0;
  margin-top: 22px;
  margin-left: 125px;
}

.text_section_1_left {
  color: #111;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}




.container_form {
  width: 475px;
  margin: 20px auto;
  background-color: #D8D8D8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input_ {
  display: flex;
  width: 475px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background-color: #D8D8D8;
}

.form_text {
  color: #111;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form {
  width: 475px;
  height: 291px;
  flex-shrink: 0;
  background-color: #FFFFFF;
  /* Ändra till vit bakgrundsfärg */
}

button {
  width: 125px;
  height: 50px;
  flex-shrink: 0;
  background-color: #4A4FF2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container_map {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.container_footer {
  display: flex;
  align-items: center;
}

.container_footer ul {
  list-style: none;
  display: flex;
}

.container_footer a {
  text-decoration: none;
  margin-right: 20px;
}


.genesis_logo {
  padding-left: 125px;
  padding-bottom: 47px;
  width: 90px;
  height: 19px;
  flex-shrink: 0;
}




.container_footer {
  display: flex;
  align-items: center;
}

.container_footer ul {
  list-style: none;
  display: flex;
}

.container_footer a {
  text-decoration: none;
  margin-right: 20px;
}


.genesis_logo {
  padding-left: 125px;
  padding-bottom: 47px;
  width: 90px;
  height: 19px;
  flex-shrink: 0;
}

.footer_project {
  padding-left: 757px;
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;

}

.footer_contact {
  padding-left: 30px;
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;
}

.footer_links_social_media {
  padding-left: 95px;
}

.socials_container {
  display: flex;
}

.socials_links {
  justify-content: space-between;
}

a:hover {
  color: #4A4FF2;

}

@import 'home';
@import 'project';