@import 'project';
@import 'contact';


.body {
    display: flex;
    width: 1110px;
    height: 1960px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.container_navbar {
    position: absolute;
    width: 1109px;
    height: 23px;
    left: 126px;
    top: 61px;
}

.genesis_logo {
    justify-content: start;
    Width: 90.13px;
    Height: 19.34px;
    margin-left: 126px;
    margin-top: 61px;
}

.navbar_project {
    Width: 90.13px;
    Height: 19.34px;
}

.navbar_contact {}


.title_container {
    padding-left: 125px;
    padding-top: 156px;
}

.home_shooting_stars {}

.home_title_text {
    width: 635px;
    height: 191px;
    color: #111;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 150% */
}

.container-grid {
    display: flex;
    height: 50px;
    width: 50px;
}



@import 'project';
@import 'contact';