@import 'home';
@import 'contact';

.body {
  display: flex;
  width: 1110px;
  height: 1960px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.body {
  display: flex;
  width: 1110px;
  height: 1960px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.genesis_logo {
  width: 90.132px;
  height: 19.344px;
  flex-shrink: 0;
  margin-top: 60px;
  margin-left: 126px;
}

.navbar_project {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;
  margin-top: 60px;
  margin-left: 927px;
}

.navbar_contact {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;
  margin-top: 60px;
  margin-left: 1169px;
}

@import 'home';
@import 'contact';